<% layout('layouts/boilerplate')%>
<!-- -->
<div class="row">
    <h1 class="text-center">New Attraction</h1>
    <div class="col-md-6 offset-md-3">
        <!-- Comment: apply the form enctype to be multipart/form-data which is used for uploading files -->
        <form action="/attractions" method="POST" novalidate class="validated-form" enctype="multipart/form-data" > 
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="attraction[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="attraction[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Attraction Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="attraction[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="attraction[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <!--File-input-button1. customize the file input button from bootstrap.-->
                <!--File-input-button1. also it has to work with bs-custom-file-input package from npm to show file names in the upload bar-->
                <!--File-input-button1. use the CDN link without downloading in boilerplate and running code in validateForms under public/javascripts-->
                <div class="form-file custom-file">
                    <!-- Image4.1 set file to multiple to upload multiple files-->
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/attractions">All Attractions</a>
    </div>
</div>